.ifb-lite {
	display: none;
}

.ifb-lite-row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 16px;
	align-items: start;
}

.ifb-lite-row.ifb-lite-row-bottom {
	grid-template-columns: 1fr 1fr;
}

.ifb-lite-row.ifb-lite-row-main {
	padding-top: 30px;
	margin-bottom: 30px;
}

.ifb-lite-zone {
	display: flex;
	align-items: center;
	gap: 12px;
	min-width: 0;
}

.ifb-lite-row-main .ifb-lite-zone {
	flex-direction: column;
	align-items: flex-start;
}

.ifb-component-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	gap: 14px;
}

.ifb-component.ifb-component-menu a:hover {
	color: #fff;
}

.ifb-component.ifb-component-widget .widget {
	margin-bottom: 0;
}

.ifb-component-widget .widget .title {
	color: #fff;
}

.widget a:hover {
	color: #fff;
}

.ifb-component-copyright.site-info,
.ifb-component-custom-html.site-info {
	width: 100%;
}

.footer-row-separator {
	margin: 0 auto;
	width: 100%;
	height: 1px;
	background-color: #232323;
}

.ifb-lite-zone.ifb-lite-zone-right .copyright {
	width: 100%;
	justify-content: end;
}

.ifb-lite-zone.ifb-lite-zone-right .copyright span {
	text-align: right;
}

.ifb-lite-zone .copyright span {
	min-width: max-content;
}

.footer-row-separator.is-narrow-width {
	max-width: var(--container-width, 1200px);
}

.footer-row-separator.is-full-width {
	max-width: 96%;
}

@media (max-width: 768px) {
	.footer-row-separator {
		max-width: none;
		margin: 0 6%;
	}
}

@media (min-width: 1025px) {
	.ifb-lite-desktop {
		display: block;
	}
}

@media (min-width: 641px) and (max-width: 1024px) {
	.ifb-lite-tablet {
		display: block;
	}
}

@media (max-width: 640px) {
	.ifb-lite-mobile {
		display: block;
	}

	.ifb-lite-row {
		grid-template-columns: 1fr !important;
	}

	.ifb-component {
		padding: 0 !important;
	}

	.ifb-lite-zone .copyright span {
		text-align: center !important;
	}

	.ifb-lite-row.ifb-lite-row-bottom {
		margin: 16px 0;
	}

	.ifb-lite-row.ifb-lite-row-bottom {
		gap: 4px;
	}

	.ifb-lite-row.ifb-lite-row-main {
		margin-bottom: 0;
	}
}
