.ifb-lite {
	display: none;
}

.ifb-lite-row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 16px;
	align-items: start;
}

.ifb-lite-row.ifb-lite-row-main {
	padding-top: 30px;
}

.ifb-lite-zone {
	display: flex;
	align-items: center;
	gap: 12px;
	min-width: 0;
}
/* 
.ifb-lite-zone-center {
	justify-content: center;
} */

/* .ifb-lite-zone-right {
	justify-content: flex-end;
} */

.ifb-component-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	gap: 14px;
}

.ifb-component-widget .widget .title {
	color: #fff;
}

.widget a:hover {
	color: #fff;
}

.footer-row-separator {
	margin: 0 auto;
	width: 100%;
	height: 1px;
	background-color: #232323;
}

.footer-row-separator.is-narrow-width {
	max-width: var(--container-width, 1200px);
}

.footer-row-separator.is-full-width {
	max-width: 96%;
}

@media (max-width: 768px) {
	.footer-row-separator {
		max-width: none;
		margin: 0 6%;
	}
}

@media (min-width: 1025px) {
	.ifb-lite-desktop {
		display: block;
	}
}

@media (min-width: 641px) and (max-width: 1024px) {
	.ifb-lite-tablet {
		display: block;
	}
}

@media (max-width: 640px) {
	.ifb-lite-mobile {
		display: block;
	}

	.ifb-lite-row {
		grid-template-columns: 1fr;
	}
}
