.sf-menu,
.sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sf-menu {
    ul {
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
        z-index: 99;
    }
    li {
        position: relative;
        &:hover,
        &.sfHover {
            ul {
                display: block;
            }
        }
    }
    a {
        display: block;
        position: relative;
    }
    ul ul {
        top: 0;
        left: 100%;
    }
}
